/*Name*/
.roberto{animation:roberto 6s linear infinite alternate both}
@keyframes roberto{0%{color:#690000}33.3333%{color:#3a0000}56.666%{color:#ea2222}100%{color:#f5be10}}

/*Animation Skills*/
.skill-bar-animate {
	-webkit-animation: skill-bar-animate 2.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
	animation: skill-bar-animate 2.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
}

@-webkit-keyframes skill-bar-animate {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 0;
    }
  }
  @keyframes skill-bar-animate {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
  }

  .skill-animate {
	-webkit-animation: skill-animate 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
	animation: skill-animate 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
}

@-webkit-keyframes skill-animate {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
  }
  @keyframes skill-animate {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 0;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
  }